@using ProjetPompier_AppWeb.Logics.Models;
@model VehiculeDTO;

@* Si une erreur est detecté,  on l'affiche... *@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erreur!</strong> @ViewBag.MessageErreur .
    </div>
}

@* Liste de selection de la caserne a laquelle appartient les vehicules *@
<form asp-controller="Vehicule" asp-action="Index" method="get">
    <div class="jumbotron">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nomCaserne">Caserne choisie :</label>
                <select id="nomCaserne" name="nomCaserne" class="form-control" onchange="this.form.submit()">
                    @foreach (CaserneDTO caserne in ViewBag.ListeCaserne)
                    {
                        if (ViewBag.NomCaserne == caserne.Nom)
                        {
                            @* L'item sélectionné dans la liste est le nom de la caserne envoyée par la méthode Index du contrôleur *@
                            <option value="@caserne.Nom" selected>@caserne.Nom</option>
                        }
                        else
                        {

                            <option value="@caserne.Nom">@caserne.Nom</option>
                        }
                    }
                </select>
            </div>
        </div>
</form>

@if (ViewBag.ListeVehicule.Count > 0)
{@*Nombre de véhicule dans la caserne*@
    <div class="bg-light text-dark rounded border-1 m-2 p-2 w-50">
        <p>
            Il y a
            <span class="fw-bold">@ViewBag.ListeVehicule.Count</span>
            @(ViewBag.ListeVehicule.Count > 1 ? "véhicules" : "véhicule") dans la caserne 
            <span class="fw-bold">@ViewBag.NomCaserne</span>"
        </p>
    </div>
    <hr />
    @*Formulaire de la liste des véhicules, pour modifier, supprimer ou vider la liste*@
    <form asp-controller="" asp-action="" method="post">
        <div class="row">
            @foreach (VehiculeDTO vehicule in ViewBag.ListeVehicule)
            {
                <div class="col-md-4 mb-3">
                    <div class="card rounded">
                        <div class="card-body">
                            <h5 class="card-title">@vehicule.Vin</h5>
                            <br />
                            <p class="card-text">Code : @vehicule.Code</p>
                            <p class="card-text">Marque : @vehicule.Marque</p>
                            <p class="card-text">Modele : @vehicule.Modele</p>
                            <p class="card-text">Annee : @vehicule.Annee</p>
                            <hr />
                            <div class="text-center">
                                @*Bouton supprimer pour chaque véhicule*@
                                <input class="btn btn-danger rounded ml-1" value="Supprimer" onclick="if (confirm('Voulez-vous vraiment supprimer le véhicule : @vehicule.Vin @vehicule.Code ?')) {document.getElementById('vinVehicule').value ='@vehicule.Vin'; this.form.action='/Vehicule/SupprimerVehicule'; this.form.method='post'; submit();}" type="button" />
                                @*Bouton modifier pour chaque véhicule*@
                                <input class="btn btn-warning rounded ml-1" type="button" value="Modifier" onclick=" document.getElementById('vinVehicule').value ='@vehicule.Vin'; this.form.action='/Vehicule/FormulaireModifierVehicule'; this.form.method='get'; submit();" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @*Champs cachés pour l'envoie aux methodes du controleur*@
        <input id="vinVehicule" name="vinVehicule" type="hidden" />
        <input id="nomCaserne" name="nomCaserne" value="@ViewBag.NomCaserne" type="hidden">
        @*Vider la liste des véhicule de cette caserne*@
        <div class="text-center">
            <input class="btn btn-danger rounded" value="Vider la liste des véhicules" onclick=" if (confirm('Voulez-vous vraiment vider la liste de véhicule?')) {this.form.action='/Vehicule/ViderListeVehicule'; this.form.method='post'; submit();}" type="button" />
        </div>
    </form>
}
else
{
    @*Si aucun véhicule est enregistré dans la caserne, alors on affiche le message ci-dessous*@
    <div class="bg-light text-dark rounded border-1 m-2 p-2 w-50">
        <p><span class="fw-bold">Aucun</span> véhicule pour la caserne "<span class="fw-bold">@ViewBag.NomCaserne</span>"</p>
    </div>
    <hr />
}

<hr />
@*Formulaired'ajout d'un véhicule dans la caserne*@
<form asp-controller="Vehicule" asp-action="AjouterVehicule" method="post" class="need-validation">
    <div class="container">
        <div class="text-center">
            <h1>Ajouter un véhicule</h1>
        </div>
        @*Ajout du Vin du véhicule*@
        <div class="form-group">
            <label asp-for="Vin" class="control-label">Vin du véhicule :</label>
            <input asp-for="Vin" class="form-control" placeholder="1AB234CD5EF6G78H9" maxlength="17" required />
        </div>

        @*Script qui permet de recuperer le type de véhicule et la capicité d'accueil du véhicule en fonction le l'option Code selectionné*@
        <script>
            function rafraichirChamps() {
            @*Recherche du champ qui a pour valeur le code du vehicule*@
                            var select = document.getElementById("Code");
            @*Recherche des champs qui predront la valeur qui correspond en fonction du code*@
                            var typeInput = document.getElementById("Type");
                var nombreInput = document.getElementById("NombrePersonne");

            @*Recuperation de l'option choisie*@
                            var selectedOption = select.options[select.selectedIndex];

            @*Attribution de la valeur qui correspond dans les champ dédiés*@
                    typeInput.value = selectedOption.getAttribute("type");
                nombreInput.value = selectedOption.getAttribute("nombrePersonne");
            }
        </script>

        @*Champ de selection pour le code, le type, et la capicite du vehicule*@
        <div class="form-group">
            <label asp-for="Code" class="control-label">Code du véhicule :</label>
            <select id="Code" name="Code" class="form-control" required onchange="rafraichirChamps()">
                <option value="" disabled selected>Choisir un type de véhicule</option>
                @foreach (TypeVehiculeDTO type in ViewBag.ListeTypeVehicule)
                {
                    @*Attributs type et nombrePersonne qui permet, grace a la methode rafraichirChamps, de remplir les champs qui correspond et donc l'objet VehiculeDTO*@
                    <option type="@type.Type" nombrePersonne="@type.Personnes" value="@type.Code">@type.Code @type.Type @type.Personnes @(type.Personnes > 1 ? "personnes" : "personne")</option>
                }
            </select>
        </div>

        @*Champ du type du vehicule*@
        <div class="form-group">
            <label name="Type" class="control-label">Type du véhicule :</label>
            <input id="Type" name="Type" class="form-control" readonly />
        </div>

        @*Champ du nombre de place du vehicule*@
        <div class="form-group">
            <label name="NombrePersonne" class="control-label">Nombre de personne possible dans le véhicule :</label>
            <input id="NombrePersonne" name="NombrePersonne" class="form-control" readonly />
        </div>

        @*Ajout de la marque du vehicule*@
        <div class="form-group">
            <label asp-for="Marque" class="control-label">Marque du véhicule :</label>
            <input asp-for="Marque" class="form-control" placeholder="Marque" required />
        </div>

        @*Ajout du modele du vehicule*@
        <div class="form-group">
            <label asp-for="Modele" class="control-label">Modèle du véhicule :</label>
            <input asp-for="Modele" class="form-control" placeholder="Modele" required />
        </div>

        @*Selection de l'annee du vehicule*@
        <div class="form-group">
            <label asp-for="Annee" class="control-label">Annee de mise en circulation du véhicule :</label>
            @*Recuperation de l'annee du systeme*@
            @{
                int anneeActuelle = DateTime.Now.Year;
            }
            @*Annee liste deroulante de int entre 1960 et notre annee*@
            <select id="Annee" name="Annee" class="form-control" required>
                <option value="" disabled selected>Choisir une année</option>
                @for (int annee = anneeActuelle; annee >= 1960; annee--)
                {
                    <option value="@annee">@annee</option>
                }
            </select>
        </div>
        <br />
        @*Bouton d'ajout du vehicule*@
        <div class="text-center">
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
        <input id="nomCaserne" name="nomCaserne" value="@ViewBag.NomCaserne" type="hidden">
    </div>
</form>
