@using ProjetPompier_AppWeb.Logics.Models;

@model FicheInterventionDTO;

@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <h1>Liste des interventions : </h1>
    <div class="card background-color-gray">
		<div class="card-body">
			<h2>@ViewBag.NomCaserne</h2>

			<form asp-controller="Intervention" asp-action="Index" method="get">

				<select name="matriculeCapitaine" onchange="submit()">
					@foreach (PompierDTO pompier in ViewBag.ListePompier)
					{
						if(pompier.Matricule.Equals(ViewBag.MatriculeCapitaine))
						{
							<option value="@pompier.Matricule" selected>@pompier.Prenom @pompier.Nom</option>
						}
						else
						{	
							<option value="@pompier.Matricule">@pompier.Prenom @pompier.Nom</option>
						}
					}
				</select>
				<input type="hidden" id="nomCaserne" name="nomCaserne" value="@ViewBag.NomCaserne">
			</form>
			<div class="card-deck d-flex flex-row">
			@foreach (FicheInterventionDTO fiche in ViewBag.ListeIntervention)
			{
				<div class="card d-flex rounded m-2" style="width:15rem;">
					<div class="">
						<h3>@fiche.TypeIntervention</h3>
						<br>
						<p>Adresse : @fiche.Adresse</p>
						<p>Date et heure : @fiche.DateTemps</p>
						<p>Résumé : @fiche.Resume</p>
						<hr>
					</div>
						<div class="d-flex justify-content-center">
						<button class="btn btn-warning">Détails</button>
					</div>
				</div>
			}
			</div>
		</div>
		<hr>
		<div class="ajoutFicheIntervention">
			<h2>Ajout d'une fiche d'intervention</h2>
			<form asp-controller="Intervention" asp-action="OuvrirFicheIntervention" method="post">
				<table>
					<tr>
						<td>
							<label asp-for="TypeIntervention">Type d'intervention : </label>
						</td>
						<td>
							<input asp-for="TypeIntervention">
						</td>
					</tr>
					<tr>
						<td>
							<label asp-for="Adresse">Adresse : </label>
						</td>
						<td>
							<input asp-for="Adresse">
						</td>
					</tr>
					<tr>
						<td>
							<label asp-for="Resume">Résumé</label>
						</td>
						<td>
							<input asp-for="Resume">
						</td>
					</tr>
				</table>
				<div class="d-flex justify-content-center">
					<input class="m-1 btn-success rounded" type="submit" value="Ajouter">
				</div>
				<input type="hidden" value="@ViewBag.NomCaserne" name="nomCaserne">
				<input type="hidden" value="@DateTime.Now" name="dateTemps" asp-for="DateTemps">
				<input type="hidden" value="@ViewBag.MatriculeCapitaine" name="matriculeCapitaine" asp-for="MatriculeCapitaine">
			</form>
		</div>
    </div>
}