@using ProjetPompier_AppWeb.Logics.Models;
@model CaserneDTO;

@* Si une erreur est detecté,  on l'affiche... *@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erreur!</strong> @ViewBag.MessageErreur .
    </div>
}
else
{
    <h3>Liste des casernes (@ViewBag.NbCaserne Caserne(s)):</h3>
    <hr />
    <form asp-controller="" asp-action="" method="post">
        <div class="row">
            @foreach (CaserneDTO caserne in ViewBag.ListeCaserne)
            {
                <div class="col-md-4 mb-3">
                    <div class="card rounded">
                        <div class="card-body">
                            <h5 class="card-title">@caserne.Nom</h5>
                            <p class="card-text">Adresse : @caserne.Adresse</p>
                            <p class="card-text">Ville : @caserne.Ville</p>
                            <p class="card-text">Province : @caserne.Province</p>
                            <p class="card-text">Téléphone : @caserne.Telephone</p>
                            <hr />
                            <div class="text-center">
                                <input class="btn btn-warning rounded" value="Modifier" onclick="document.getElementById('nomCaserne').value ='@caserne.Nom'; this.form.action='/Caserne/FormulaireModifierCaserne'; this.form.method='get'; submit();" type="button" />
                                <input class="btn btn-danger rounded ml-1" value="Supprimer" onclick="document.getElementById('nomCaserne').value ='@caserne.Nom'; this.form.action='/Caserne/SupprimerCaserne'; this.form.method='post'; submit();" type="button" />
                                <input class="btn btn-primary rounded ml-1" type="button" value="Interventions" onclick="document.getElementById('nomCaserne').value  = '@caserne.Nom'; document.getElementById('matriculeCapitaine').value  = '0';  this.form.action='/Intervention?nomCaserne=@caserne.Nom'; this.form.method='get'; submit();" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <input id="matriculeCapitaine" name="matriculeCapitaine" type="hidden" />
        <input id="nomCaserne" name="nomCaserne" type="hidden" />
        <div class="text-center">
            <input class="btn btn-danger rounded" value="Vider la liste des casernes" onclick="this.form.action='/Caserne/ViderListeCaserne'; this.form.method='post'; submit();" type="button" />
        </div>
    </form>
    <hr />
    <div class="card border-2 rounded" style="width:20rem;">
        <div class="card-body">
            <h5 class="card-title text-center">Ajouter une caserne</h5>
            <form asp-controller="Caserne" asp-action="AjouterCaserne" method="post">
                <div class="form-group">
                    <label asp-for="Nom">Nom</label>
                    <input asp-for="Nom" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Adresse">Adresse</label>
                    <input asp-for="Adresse" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Ville">Ville</label>
                    <input asp-for="Ville" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Province">Province</label>
                    <input asp-for="Province" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Telephone">Téléphone</label>
                    <input asp-for="Telephone" class="form-control" required />
                </div>
                <br/>
                <div class="text-center">
                    <button type="submit" class="btn btn-success rounded">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
}
