@using ProjetPompier_AppWeb.Logics.Models;
@model GradeDTO;
@* Si erreur du côté serveur... affichage du message d'erreur... *@
@if (ViewBag.MessageErreur != null)
{
    <div class="container">
        <br />
        <div class="alert alert-danger" role="alert">
            @ViewBag.MessageErreur
        </div>
    </div>
}
else
{
    @* Affichage de la liste des grades... *@
    <div class="container">
        <br />
        <h3>Liste des <span class="fw-bold">Grade(s) (@ViewBag.ListeGrade.Count)</span> :</h3>
        <br />
        <form asp-controller="" asp-action="" method="post">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
            </thead>
            <tbody>
                    @foreach (GradeDTO grade in ViewBag.ListeGrade)
                {
                    <tr>
                        <td>@grade.Description</td>
                        <td>
                                <input class="btn btn-warning rounded ml-1" type="button" value="Modifier" onclick="document.getElementById('description').value ='@grade.Description'; this.form.action='/Grade/FormulaireModifierGrade'; this.form.method='get'; submit();" />
                                <input class="btn btn-danger rounded ml-1" value="Supprimer" onclick="if (confirm('Voulez-vous vraiment supprimer le grade : @grade.Description ?')) {document.getElementById('description').value ='@grade.Description'; this.form.action='/Grade/SupprimerGrade'; this.form.method='post'; submit();}" type="button" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
            <input id="description" name="description" type="hidden" />
        </form>
        <br />
        <hr />
    </div>

    @* Formulaire d'ajout d'un grade... *@
    <div class="container">
            <h3>Ajouter un Grade :</h3>
            <form asp-controller="Grade" asp-action="AjouterGrade" method="post" class="mt-4">
                <div class="form-group row">
                    <label asp-for="Description" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" asp-for="Description" placeholder="Saisir la description." required />
                    </div>
                </div>
                <br />
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-success">Ajouter</button>
                    </div>
                </div>
            </form>
    </div>
}