@using ProjetPompier_AppWeb.Logics.Models;
@model TypeInterventionDTO;

@* Si une erreur est detecté,  on l'affiche... *@
@if (ViewBag.MessageErreurCritique != null)
{
    <br />
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Erreur!</strong> @ViewBag.MessageErreur .
    </div>
}

@if (ViewBag.ListeTypeIntervention.Count > 0)
{
    <div class="bg-light text-dark rounded border-1 m-2 p-2 w-50"
    @*Affichage du nombre de type d'intervention*@>
        <p>Il y a <span class="fw-bold">@ViewBag.ListeTypeIntervention.Count</span> type(s) d'intervention(s)</p>
    </div>
    <hr/>
    @*Formulaire de la liste des types d'intervention, pour modifier, supprimer ou vider la liste*@
    <form asp-controller="" asp-action="" method="post">
        <div class="row">
            @foreach (TypeInterventionDTO typeIntervention in ViewBag.ListeTypeIntervention)
            {
                <div class="col-md-4 mb-3">
                    <div class="card rounded">
                        <div class="card-body">
                            <h5 class="card-title">@typeIntervention.Description </h5>
                            <br />
                            <p class="card-text">Code : @typeIntervention.Code</p>
                            <hr/>
                            <div class="text-center">
                                @*Bouton pour supprimer ce type de véhicule*@
                                <input class="btn btn-danger rounded ml-1" value="Supprimer" onclick="if (confirm('Voulez-vous vraiment supprimer le type de dintervention : @typeIntervention.Description ?')) {document.getElementById('codeTypeIntervention').value ='@typeIntervention.Code'; this.form.action='/TypeIntervention/SupprimerTypeIntervention'; this.form.method='post'; submit();}" type="button" />
                                @*Bouton pour modifier ce type de véhicule*@
                                <input class="btn btn-warning rounded ml-1" type="button" value="Modifier" onclick="document.getElementById('codeTypeIntervention').value ='@typeIntervention.Code'; this.form.action='/TypeIntervention/FormulaireModifierTypeIntervention'; this.form.method='get'; submit();" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @*Champ caché du code de l'intervention pour l'envoie à la méthode du controleur*@
        <input id="codeTypeIntervention" name="codeTypeIntervention" type="hidden" />
        <div class="text-center">
            @*Bouton pour la suppression de tous les types d'intervention, pour vider la liste*@
            <input class="btn btn-danger rounded" value="Vider la liste des type d'intervention" onclick=" if (confirm('Voulez-vous vraiment vider liste des type d\'intervention ?')) {this.form.action='/TypeIntervention/ViderListeTypeIntervention'; this.form.method='post'; submit();}" type="button" />
        </div>
    </form>
}
else
{
    @*Si aucun type d'intervention est enregistré dans la caserne, alors on affiche le message ci-dessous*@
    <div class="bg-light text-dark rounded border-1 m-2 p-2 w-50">
        <p><span class="fw-bold">Aucun</span> type d'intervention enregistré.</p>
    </div>
    <hr/>
}

<hr/>
@*Formualire d'ajout d'un type d'intervention*@
<form asp-controller="TypeIntervention" asp-action="AjouterTypeIntervention" method="post" class="need-validation">
    <div class="container">
        <div class="text-center">
            <h1>Ajouter un type d'intervention</h1>
        </div>
        @*Ajout du code du véhicule*@
        <div class="form-group">
            <label asp-for="Code" class="control-label">Code de l'intervention :</label>
            <input asp-for="Code" class="form-control" placeholder="12" maxlength="2" required />
        </div>

        @*Ajout du type du véhicule*@
        <div class="form-group">
            <label asp-for="Description" class="control-label">Description de l'intervention :</label>
            <input asp-for="Description" class="form-control" placeholder="Description de l'intervention" required />
        </div>
        <br />
        <div class="text-center">
            @*Bouton d'ajout du type d'intervention*@
            <button type="submit" class="btn btn-success">Ajouter</button>
        </div>
    </div>
</form>

